.headerHome{
    background-color: #8C2F3F !important;
}

.navabr{
    background-color: #8C2F3F !important;
}

.homem-aranha{
    width: 4rem;
    height: auto;
    margin-left:0.3rem;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: white !important;
}


