@import url('reset.css');
@import url('media.css');

body{
    background-color: #2A2424;
}

.header{
    background-color: var(--vermelho);
}

.homem-aranha{
    width: 5rem;
    height: auto;
    margin-left:0.3rem;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.wellcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.link-playlist{
    color: var(--vermelho);
}

.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 5rem 2rem;

}

.img{
    object-fit: cover;
    border-radius: 20px;
    width: 25rem;
    height: 35rem;
}

.combo-img{
    display: flex;
    gap: 1rem;
}

strong{
    color: #B24A5E;
}

.container-frase{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
}

.strongfrase{
    font-size: 30px;
}

.afrase{
    font-size: 30px;
}

@media screen and (max-width: 1100px){
    p{
        font-size: 15px;
    }
    .corpo{
        gap:2rem;
    }
    .img{
        width: 20rem;
    }

}

@media screen and (max-width: 700px){
    .combo-img{
        flex-direction: column;
    }
}

.manu{
    margin-top: 20rem;
    text-align: center;
    color: white; 
    text-decoration: none;
}